/*
* Page layout styles.
* version: 1.0
* author: Marijn
*/

/* bootstrap override styles */
.navbar {
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $primaryColor;
}

.navbar-toggle {
	float: left;
	margin-left: 10px;
	margin-right: 0;
}

hr {
	margin-bottom: 15px;
	margin-top: 15px;
	border-color: #d3d3d3;
}

.btn {
	border: none;

	&.btn-primary {
		background-color: $primaryColor;	

		&:hover {
			background-color: #2d9d91;
		}
	}

	&.btn-warning {
		background-color: $accentColor;
		&:hover {
			background-color: #ec971f;
		}
	}
}

.text-muted {
	color: $medGray;
}

.btn-block + .btn-block {
	margin-top: 10px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	color: $darkGray;
	background-color: $bodyBackgroundColor;
}

.main{
	background: url(../images/background.png) no-repeat bottom center fixed #f7f7f7; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

/*Header styles */
#header {
	background-color: $titleBarBackgroundColor;
}

.page-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

.content-container {
		
}

.logo {
	padding-top: 20px;
	img {
		width: 100%;
	}

	.logo-desc {
		margin-top: 5px;
		margin-bottom: 35px;
		text-align: center;
	}
}

.content-signupform {
	@include make-row();
	margin-bottom: 15px;	
	text-align: center;

	.btn-default {
		text-align: left; 
		padding-left: 15px;
		padding-right: 15px;
	}

	input[type="email"],
	input[type="password"] {
		padding: 6px 12px;
		border-radius : 4px;
		border: 1px solid #ccc;
	}

	p.text-muted {
		margin-top: 5px;
		padding: 0 15px;
	}
}

// Block input
// --------------------------------------------------
.input-block {
	display: block;
	width: 100%;
}

.input-block + .input-block, 
.input-block + .btn-block {
	margin-top: 5px;
}

// Product styles
// --------------------------------------------------
.product {
	padding: 5px;
	border: 1px solid #d3d3d3;	
	margin: 0;
	margin-bottom: 20px;

	.product-header {
		@extend .clearfix;
		line-height: 70px;

		.product-info {
			vertical-align: text-bottom;
			width: 70%;
			display: inline-block;

			img {
				max-width: 70px;
			}

			h3 {
				display: inline-block;
				font-size: 16px;
			}
		}

		.product-price {
			vertical-align: text-bottom;
			width: 25%;
			display: inline-block;
			font-size: 36px;
			font-weight: 700;
		}
	}
	.product-footer {
		@extend .clearfix;
		font-size: 12px;
		.expires-date {
			@extend .pull-left;
			color: $lightGray;
		}
		.offer-details {
			@extend .pull-right;
			color: $lightGray;
		}
	}
}

#left-column-container {
	width: 80%;
	margin-right: auto;
	padding: 20px;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid $lightGray;
	border-radius: 10px;

	@media (max-width: $screen-xs-max) {
		width: auto;
		margin-right: -15px;		
		padding: 0;
		background-color: transparent;
		border: none;
		border-radius: 0;		
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		margin-right: auto;
		margin-left: auto;
	}
}

// iPhone template on tablet and desktop
// -------------------------------------------------------------------------
#iphone {
	margin: 0 auto;
	position: relative;
}

.portrait {
	width: 270px;
	height: 570px;
	background: url(../images/iphone5s.png) no-repeat;
	background-size: contain;

	.statusbar {
		position: absolute;
		top: 83px;
		left: 22px;
		width: 228px;
		height: 14px;
		background: url(../images/statusbar.png) no-repeat;
		background-size: cover;
	}

	.frame {
		position: absolute;
		top: 97px;
		left: 22px;
		width: 228px;
		height: 392px;
		background-color: $bodyBackgroundColor;

		.frame-header {
			position: relative;
			height: 36px;
			width: 100%;
			background-color: $titleBarBackgroundColor;

			.nav-toggle {
				float: left;
				margin-left: 8px;
				margin-right: 0;
				position: relative;
				margin-right: 10px;
				padding: 1px;
				margin-top: 8px;
				margin-bottom: 8px;
				background-color: transparent;
				background-image: none;		

				.icon-bar {
					background-color: #2fac9f;
					display: block;
					width: 20px;
					height: 2px;

					+ .icon-bar {
						margin-top: 3px;
					}
				}		
			}
		}
		.frame-content {
			padding: 6px;
			.frame-product {
				//border: 1px solid $darkGray;
				background-color: $couponBackgroundColor;
        padding: 2px;				

				.product-header {
					@extend .clearfix;
					margin-top: 5px;
					margin-bottom: 25px;

					.product-info {
						float: left;
						img {
							max-width: 50px;
						}
						h3 {
							display: inline-block;
							font-size: 14px;
						}
					}
					.price {
						float: right;
						display: inline-block;
						font-size: 24px;
						font-weight: bold;
            color: $accentColor;
						margin-top: 10px;
					}
				}
				p.text-muted {
					font-size: 12px;
					margin-bottom: 20px;
				}
				.product-footer {
					@extend .clearfix;
					color: $lightGray;
					font-size: 11px;
					margin-bottom: 10px;
				}

				+ .frame-product {
					margin-top: 8px;
				}
			}
		}
	}
}