/* Responsive styles */
@media (max-width: $screen-xs-landscape) {
	
}

@media (max-width: $screen-xs-max) {
	.product {
		margin-left: -12px;
		margin-right: -12px;		

		.product-header {
			@extend .clearfix;
			line-height: 64px;

			.product-price {
				vertical-align: top;
			}
		}
	}
}

// Extra small screen / portrait
@media (max-width: $screen-xs-portrait) {
  	.col-xs-6 {
  		float: none;
  		width: 100%;
  	}

	.product {
		.product-header {
			.product-price {
				vertical-align: text-bottom;
			}
		}
	}
}

