/* Variables */

/* Global Colors */

$bodyBackgroundColor:		#f7f7f7;
$titleBarBackgroundColor:	#ffffff;
$couponBackgroundColor: #ffffff;

$primaryColor:				#2fac9f;
$accentColor:				#f9bb40;

$darkGray:					#686868;
$medGray:					#767676;
$lightGray:					#9e9e9e;
$lightShadow:        #e8e8e8;

/* responsive */
// Extra small screen / portrait
$screen-xs-portrait:		320px !default;
// Extra small screen / landscape
$screen-xs-landscape:		568px !default;