/* Variables */

/* Global Colors */

$bodyBackgroundColor:		grey;

/* responsive */
// Extra small screen / portrait
$screen-xs-portrait:		320px !default;
// Extra small screen / landscape
$screen-xs-landscape:		568px !default;