<div ng-controller="coupons.CouponsCtrl">
	<!-- BEGUB: view -->
	<div class="app-offer" ng-class="myCssVar" ng-repeat="offer in offers">
		<div class="front">
			<div class="offer-header">
			    <div class="offer-title">
			      <img ng-src="{{ offer.imagesSrc }}" alt="">
			      <h3>{{ offer.offerTitle | characters:25 }}</h3>
			    </div>
			    <span class="offer-amount">{{ offer.offerAmount }}¢</span>
			</div>
			<p class="btn-footnote">{{ offer.offerSummary | characters: 80 }}</p>
			<div class="offer-footer">
			    <div class="expiration-date">Expires: {{ offer.expirationDate | date:'MM/dd/yyyy' }}</div>
			    <div class="pull-right"><a value="set" class="btn btn-offer btn-details" ng-click="myCssVar='flipped'">offer details</a></div>
			</div>
		</div>
		<div class="back">
			<div class="offer-title">
				<h3>Deal Title</h3>
			</div>
			<p>{{ offer.offerDetails }}</p>
			<div class="offer-footer">
				<div class="pull-right" value="clear" ng-click="myCssVar=''">
					<a class="btn btn-offer btn-summary">offer summary</a>
				</div>
			</div>
		</div>
	</div>	
</div>