<div class="container">
  <div class="row">

    <div class="col-xs-6 col-sm-6">
      <div class="product">
        <div class="product-header">
          <div class="product-info">
            <img src="images/product.png" alt="">
            <h3>Product Name</h3>
          </div>
          <div class="product-price">
            50$
          </div>
        </div>
        <p>Offer summary, purchase criteria, participating stores.</p>
        <div class="product-footer">
          <div class="expires-date">Expires: dd/mm/yy</div>
          <div class="offer-details">offer details</div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6">
      <div class="product">
        <div class="product-header">
          <div class="product-info">
            <img src="images/product.png" alt="">
            <h3>Product Name</h3>
          </div>
          <div class="product-price">
            50$
          </div>
        </div>
        <p>Offer summary, purchase criteria, participating stores.</p>
        <div class="product-footer">
          <div class="expires-date">Expires: dd/mm/yy</div>
          <div class="offer-details">offer details</div>
        </div>
      </div>  
    </div>

  </div>
</div>