<div class="container">
  <div class="row">

    <div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
      <div id="iphone" class="portrait">
        <div class="statusbar"></div>
        <div class="frame">
          <!-- Frame header -->
          <div class="frame-header">
            <div class="nav-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
          </div><!--./Frame header -->
          <!--./Frame content -->
          <div class="frame-content">
            <div class="frame-product">
              <div class="product-header">
                <div class="product-info">
                  <img src="images/cheer.png" alt="">
                  <h3>Product Name</h3>
                </div>
                <span class="price">50$</span>
              </div>
              <p class="text-muted">Offer summary, purchase criteria, participating stores.</p>
              <div class="product-footer">
                <div class="pull-left">Expires: dd/mm/yy</div>
                <div class="pull-right">offer details</div>
              </div>
            </div>
            <div class="frame-product">
              <div class="product-header">
                <div class="product-info">
                  <img src="images/tide.png" alt="">
                  <h3>Product Name</h3>
                </div>
                <span class="price">50$</span>
              </div>
              <p class="text-muted">Offer summary, purchase criteria, participating stores.</p>
              <div class="product-footer">
                <div class="pull-left">Expires: dd/mm/yy</div>
                <div class="pull-right">offer details</div>
              </div>
            </div>
          </div><!--./Frame content -->
        </div>            
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
      <div id="left-column-container" class="row">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
          <!-- logo -->
          <div class="logo">
            <img src="images/logo.png" alt="placeholder">
            <div class="logo-desc">Save more on groceries with coupons that increase in value as they get more specific.</div>
          </div><!--/.logo-->
        </div>

        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
          <!-- content -->
          <div class="content-signupform">
            <div class="col-xs-12">

              <a href="demo.html" class="btn btn-block btn-warning hidden-md hidden-lg">Try to Demo</a> 

              <hr class="hidden-md hidden-lg">

              <a class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
              </a>

              <a class="btn btn-block btn-social btn-google-plus">
                <i class="fa fa-google"></i>
                Sign in with Google
              </a>

              <p class="text-muted">We won't past anything without your permission</p>

              <hr>

              <input type="email" id="inputEmail" value="" class="input-block" placeholder="Email">

              <input type="password" id="inputPassword" value="" class="input-block" placeholder="Password">

              <input type="password" id="inputConfirmPassword" value="" class="input-block" placeholder="Confirm Password">

              <a class="btn btn-block btn-primary">Sign Up</a>

              <p class="text-muted">By clicking "Sigu up" you agree to our <a href="#">Terms of Service.</a></p>

            </div>
          </div><!--/.content-->
        </div>
      </div>
    </div>

  </div>

</div>